@tailwind base;
@tailwind components;
@tailwind utilities;

/* container.css */
.container {
  width: 100%;
  height: 100%;
  position: relative;
  background: #fff2e3;
}

/* header.css */
.header {
  width: 1000px; /* Assuming the width is in pixels */
  height: 75px;
  left: 0;
  top: 0;
  position: absolute;
  background: #fff2e3;
}

/* text.css */
.text {
  text-align: center;
  color: #8786a8;
  font-family: "Halcom", serif;
  word-wrap: break-word;
}
