.shadowBoxWrapper {
  position: relative;
  width: max-content;
  height: max-content;
  display: flex;
  justify-content: flex-end;
}

.shadowBox {
  position: relative;
  width: 120px; /* Or any other size, you can also use percentages */
  height: 180px; /* Or any other size, you can also use percentages */
  background-color: #101f39; /* The color of the box */
  color: #fbfbfb; /* The color of the text */
  display: flex;
  justify-content: center;
  align-items: center;
}

.shadowBox::after {
  content: "";
  position: absolute;
  top: 10px; /* Adjust for desired shadow effect */
  left: 10px; /* Adjust for desired shadow effect */
  width: 100%;
  height: 100%;
  background-color: #fbfbfb; /* The color of the shadow */
  z-index: -1;
  border: 7px solid #101f39;
}

/* Media query for viewports that are 768px wide or wider */
@media (min-width: 600px) {
  .shadowBox {
    position: relative;
    width: 250px; /* Or any other size, you can also use percentages */
    height: 350px; /* Or any other size, you can also use percentages */
    background-color: #101f39; /* The color of the box */
    color: #fbfbfb; /* The color of the text */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .shadowBox::after {
    content: "";
    position: absolute;
    top: 25px; /* Adjust for desired shadow effect */
    left: 25px; /* Adjust for desired shadow effect */
    width: 100%;
    height: 100%;
    background-color: #fbfbfb; /* The color of the shadow */
    z-index: -1;
    border: 13px solid #101f39;
  }
}
